<DOCTYPE html>
<head> 
	<title>Search Attendance Records Between 2 Date</title>
</head>
<body>
	<centre>
		<h1>Search/Filter The Attendance Between Two Given Dates</h1>
		<h3>Django Attendance</h3>
		<hr/>
		<form method="POST">
			{%csrf_token%}
		From:<input type = "date" name="fromdate"/>
		to:<input type="date" name ="todate"/>
		<input type="submit" value= "search"/>
		<hr/>
		<table border="1">
			<tr>
				<th>roll_number</th>
				<th>class_name</th>
				<th>Subject</th>
				
			</tr>
			{%for result in data%}
			<tr>
				<td>{{result.roll_number}}</td>
				<td>{{result.class_name}}</td>
				<td>{{result.subject}}</td>
				
			</tr>
			{%endfor%}
		</table>
	</form>
	</centre>	
</body>
</html>